@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin spaceBetween {
    display: flex;
    justify-content: space-between;
}

@mixin center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%btn-base {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: $font-main;
    transition: background-color 0.3s;
    margin: 8px;
}

