.cover {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product {
        border: 1px solid rgb(173, 173, 173);
        border-radius: 20px;
        padding: 10px;
        width: 20rem;
        margin-top: 30px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        @include center;

        img {
            width: 240px;
            height: 200px;
            object-fit: cover;
        }
    }
}

h2,
h3 {
    margin: 8px;
}

h2 {
    font-size: $base-font-size * 1.5; // 24px
}

h3 {
    font-size: $base-font-size * 1.125; // 18px
}

.btn-primary {
    @extend %btn-base;
    background-color: $color-txt;
    color: white;

    &:hover {
        background-color: $color-hover;
    }
}

.btn-secondary {
    @extend %btn-base;
    background-color: #ccc;
    color: black;

    &:hover {
        background-color: darken(#ccc, 10%);
    }
}